<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.tooni.tooni">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TooniApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity android:name=".features.launcher.LauncherActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".features.search.WebtoonSearchActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name=".features.MainActivity"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".features.details.WebtoonDetailsActivity"
            android:configChanges="orientation|screenSize" />

        <activity android:name=".features.recommend.RecommendActivity"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>